* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', serif;
  background-color: #000115;
  background-image: url("banner.png");
  background-repeat: repeat;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.logo {
  text-align: center;
  margin-bottom: 5px;
}

.logo img {
  width: 250px;
}

.login-form {
  background-color: #000115;
  color: #0185ff;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 5px;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0185ff;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0185ff;
}

input[type="url"],
input[type="email"],
input[type="password"] {
  outline: none;
  display: block;
  border-style: solid;
  border-radius: 15px;
  border-color: #0185ff;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  color:#0185ff;
  background-color:#2a2a2a;
  box-shadow: 6px 6px 4px .5px rgb(46,46,46);
}

.signin-button {
  background-color: #0185ff;
  border: none;
  border-radius: 15px;
  color: #000115;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  box-shadow: 6px 6px 4px .5px rgb(46,46,46);
}

.new-user {
  font-size: 14px;
  margin-top: 20px;
}

.create-account-button {
  background-color: #0185ff;
  border: none;
  border-radius: 15px;
  color: #000115;
  display: block;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 6px 6px 4px .5px rgb(46,46,46);
}

.create-account-button:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}